@charset 'utf-8';

* {
    font-family: '遊ゴシック','メイリオ', 'Meiryo', sans-serif'
}

body {
    background-color: #F5F5F5;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.card-header {
    border-bottom: 1px solid #fff;
    color: white;
}

.fixed-ex {
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #95a5a6;
}

.food {
    background-color: #c0392b;
    color: white;
}

.daily {
    background-color: #27ae60;
    color: white;
}

.hobby {
    background-color: #8e44ad;
    color: white;
}

.last {
    background-color: #f39c12;
    color: white;
}

#modal {
    margin: 3vw;
}
 
i.fa-edit, i.far {
    cursor: pointer;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
 
.modal-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
 
.modal-container {
    width: 50%;
    min-height: 50%;
    max-width: 840px;
    margin: 0 auto;
    border: 2px solid #aaa;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}
 
.modal-header h4 {
    margin-top: 0;
    color: rgb(52,58,64);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.modal-header {
    padding: 0;
    padding-top: 30px;
    padding-left: 30px;
}
 
.modal-body {
  margin: 30px 0;
}
 
.link_area {
    overflow: hidden;
    max-width: 410px;
    margin: auto;
    text-align: center;
}
 
.link_area .modal-default-button {
    cursor: pointer;
    display: inline-block;
    background: #e6e6e6;
    width: 180px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-size: 14px;
}

 
.modal-enter {
  opacity: 0;
}
 
.modal-leave-active {
  opacity: 0;
}
 
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: translateY(30px);
}

a.logout {
    color: #fff;
}

div.income {
    font-size: 1.4em;
    margin-left: 17px;
}

i.faa-float-i:before {
    font-size: 0.9em;
}

.fa-edit:before {
    margin-top: 3px;
    font-size: 1.05em;
}

.edit-form {
    font-size: 1.3em;
}

.edit-btn {
    margin-top: 40px;
    padding: 10px 15px;
}

.edit-input {
    width:50%;
}

.card {
    width:22rem; 
    height: 8rem;
    position: relative;
}

div.card-body {
    font-size: 1.5em;
}

.price {
    position: absolute;
    right: 25px;
    bottom: 0;
}

@media screen and (max-width: 480px) {

    .card {
        width:20rem; 
        height: 8rem;
        position: relative;
    }

    .modal-container {
        width: 350px;
        min-height: 270px;
    }

    .modal-body {
        margin: 30px 0;
        padding: 6px;
    }
    
    div.income {
        width: 19.8rem;
    }

    .food-par {
        position: absolute;
        top: 240px
    }

    .daily-par {
        position: absolute;
        top: 377px;
    }

    .hobby-par {
        position: absolute;
        top: 514px;
    }

    .last-par {
        position: absolute;
        top: 651px;
    }

    .rent-par {
        position: absolute;
        top: 788px;
    }

    .scholar-par {
        position: absolute;
        top: 925px;
    }

    .util-par {
        position: absolute;
        top: 1062px;
    }

    .other-par {
        position: absolute;
        top: 1199px;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        width: 90%;
    }

}