{% extends "base.html" %}
{% block content %}
<div id="modal" v-cloak>
    <!-- pythonからjsへデータの受け渡し用 -->
    <input type="hidden" id="chart_income" value="{{ data.income }}">
    <input type="hidden" id="chart_food" value="{{ data.food_ex }}">
    <input type="hidden" id="chart_daily" value="{{ data.daily_ex }}">
    <input type="hidden" id="chart_hobby" value="{{ data.hobby_ex }}">
    <input type="hidden" id="chart_transport" value="{{ data.transport_ex }}">
    <input type="hidden" id="chart_other" value="{{ data.other_ex }}">
    <input type="hidden" id="chart_last" value="{{ data.last_ex }}">
    <input type="hidden" id="chart_rent" value="{{ data.rent_cost }}">
    <input type="hidden" id="chart_scholar" value="{{ data.scholar }}">
    <input type="hidden" id="chart_utility" value="{{ data.utility_cost }}">
    <input type="hidden" id="chart_commu" value="{{ data.commu }}">
    <input type="hidden" id="chart_month" value="{{ data.month }}">
    
    <div class="w-m-toggle">
        <input type="checkbox" v-model="checked" data-toggle="toggle" data-style="ios" data-on="月" data-off="週"
            onchange="toggle_clicked(checked, `{{ data.c_food_ex }}`, `{{ data.c_daily_ex }}`, `{{ data.c_hobby_ex }}`, `{{ data.c_transport_ex }}`, `{{ data.c_other_ex }}`)">
    </div>
    
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">収入</div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 alert alert-warning income" role="alert">
            ￥{{ data.income_d }}
            <i class="far fa-edit fa-pull-right faa-float faa-float-i animated-hover"
                @click="i_edit(`{{ data.income }}`)"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">支出</div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 food-par">
            <div class="card fcard">
                <div class="card-header food">
                    <i class="fas fa-utensils  fa-fw cat-icon"></i>食費（設定：￥{{ data.food_st }}）
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                        @click="f_edit(`{{ data.food_st }}`,`{{ data.c_food_ex }}`)"></i>
                </div>
                <div class="card-body food">
                    <p class="pay">使用 ￥{{ data.food_ex_d }}</p>
                    <p class="price">
                        <span v-if="checked">￥{{ data.c_food_ex_d }}</span>
                        <span v-else>￥[[ food_data ]]</span>
                        /<span class="per">[[ per ]]</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 rent-par">
            <div class="card frent">
                <div class="card-header rent">
                    <i class="fas fa-home  fa-fw cat-icon"></i>家賃
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                        @click="r_edit(`{{ data.rent_cost }}`)"></i>
                </div>
                <div class="card-body rent">
                    <p class="price">￥{{ data.rent_cost_d }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 daily-par">
            <div class="card fdaily">
                <div class="card-header daily">
                    <i class="fas fa-shopping-bag  fa-fw cat-icon"></i>日用品（設定：￥{{ data.daily_st }}）
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                        @click="d_edit(`{{ data.daily_st }}`,`{{ data.c_daily_ex }}`)"></i>
                </div>
                <div class="card-body daily">
                    <p class="pay">使用 ￥{{ data.daily_ex_d }}</p>
                    <p class="price">
                        <span v-if="checked">￥{{ data.c_daily_ex_d }}</span>
                        <span v-else>￥[[ daily_data ]]</span>
                        /<span class="per">[[ per ]]</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 scholar-par">
            <div class="card fscholar">
                <div class="card-header scholar">
                    <i class="fas fa-graduation-cap  fa-fw cat-icon"></i>奨学金
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                        @click="s_edit(`{{ data.scholar }}`)"></i>
                </div>
                <div class="card-body scholar">
                    <p class="price">￥{{ data.scholar_d }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 hobby-par">
            <div class="card fhobby">
                <div class="card-header hobby">
                    <i class="fas fa-gamepad  fa-fw cat-icon"></i>趣味・娯楽（設定：￥{{ data.hobby_st }}）
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                        @click="h_edit(`{{ data.hobby_st }}`,`{{ data.c_hobby_ex }}`)"></i>
                </div>
                <div class="card-body hobby">
                    <p class="pay">使用 ￥{{ data.hobby_ex_d }}</p>
                    <p class="price">
                        <span v-if="checked">￥{{ data.c_hobby_ex_d }}</span>
                        <span v-else>￥[[ hobby_data ]]</span>
                        /<span class="per">[[ per ]]</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 util-par">
            <div class="card futility">
                <div class="card-header utility">
                    <i class="fas fa-lightbulb  fa-fw cat-icon"></i>光熱費
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                        @click="u_edit(`{{ data.utility_cost }}`)"></i>
                </div>
                <div class="card-body utility">
                    <p class="price">￥{{ data.utility_cost_d }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 transport-par">
            <div class="card ftransport">
                <div class="card-header transport">
                    <i class="fas fa-subway fa-fw cat-icon"></i>交通費（設定：￥{{ data.transport_st }}）
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                    @click="t_edit(`{{ data.transport_st }}`,`{{ data.c_transport_ex }}`)"></i>
                </div>
                <div class="card-body transport">
                    <p class="pay">使用 ￥{{ data.transport_ex_d }}</p>
                    <p class="price">
                        <span v-if="checked">￥{{ data.c_transport_ex_d }}</span>
                    <span v-else>￥[[ transport_data ]]</span>
                    /<span class="per">[[ per ]]</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 commu-par">
            <div class="card fcommu">
                <div class="card-header commu">
                    <i class="fas fa-mobile-alt  fa-fw cat-icon"></i>通信費
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                        @click="c_edit(`{{ data.commu }}`)"></i>
                </div> 
                <div class="card-body commu">
                    <p class="price">￥{{ data.commu_d }}</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 other-par">
            <div class="card fother">
                <div class="card-header other">
                    <i class="fas fa-ellipsis-h fa-fw cat-icon"></i>その他（設定：￥{{ data.other_st }}）
                    <i class="far fa-edit fa-pull-right faa-float animated-hover"
                    @click="o_edit(`{{ data.other_st }}`,`{{ data.c_other_ex }}`)"></i>
                </div>
                <div class="card-body other">
                    <p class="pay">使用 ￥{{ data.other_ex_d }}</p>
                    <p class="price">
                        <span v-if="checked">￥{{ data.c_other_ex_d }}</span>
                    <span v-else>￥[[ other_data ]]</span>
                    /<span class="per">[[ per ]]</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 last-par">
            <div class="card flast">
                <div class="card-header last">
                    <i class="fas fa-piggy-bank  fa-fw cat-icon"></i>残高
                </div>
                <div class="card-body last">
                    <p class="pay">使用 ￥{{ data.last_ex_d }}</p>
                    <p class="price">￥{{ data.c_last_ex_d }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="upd_date">最終更新日：{{ data.update_date }}</div>

    <!---------------------------- modal ---------------------------->

    <modal v-if="showModal == '1'" @close="showModal = false" :key="1">
        <h4 slot="header">食費</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('food')" id="food_e">
                <div class="form-group edit-form">
                    設定額：<input v-bind:value="st_val" type="text" required="required" name="food_st_e" id="food_st_e"
                        class="edit-input">
                </div>
                <div class="form-group edit-form form-inline used">
                    使用額：<input v-bind:value="`{{ data.food_ex }}`" type="text" required="required" name="food_ex_e"
                        id="food_ex_e" class="edit-input">
                    <p>
                        <a class="btn btn-primary plus" data-toggle="collapse" href="#multiCollapseExample1"
                            role="button" aria-expanded="true" aria-controls="multiCollapseExample1"
                            @click="clear2(`{{ data.food_ex }}`)">+</a>
                    </p>
                </div>

                <!-- 電卓 -->
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="">
                                <input id="result" type="text" size="20" 
                                    v-bind:value='[[ calc_obj ]]' class="calc_disp" />
                                <br />
                                <input type="button" value="7" @click="disp(7,`{{ data.food_ex }}`)"
                                    class="command co1 ra1" />
                                <input type="button" value="8" @click="disp(8,`{{ data.food_ex }}`)"
                                    class="command co2 ra1" />
                                <input type="button" value="9" @click="disp(9,`{{ data.food_ex }}`)"
                                    class="command co3 ra1" />
                                <input type="button" value="C" @click="clear(`{{ data.food_ex }}`)"
                                    class="command is-ope ra1" />
                                <br />
                                <input type="button" value="4" @click="disp(4,`{{ data.food_ex }}`)"
                                    class="command co1 ra2" />
                                <input type="button" value="5" @click="disp(5,`{{ data.food_ex }}`)"
                                    class="command co2 ra2" />
                                <input type="button" value="6" @click="disp(6,`{{ data.food_ex }}`)"
                                    class="command co3 ra2" />
                                <input type="button" value="-" @click="disp('-',`{{ data.food_ex }}`)"
                                    class="command is-ope ra2" />
                                <br />
                                <input type="button" value="1" @click="disp(1,`{{ data.food_ex }}`)"
                                    class="command co1 ra3" />
                                <input type="button" value="2" @click="disp(2,`{{ data.food_ex }}`)"
                                    class="command co2 ra3" />
                                <input type="button" value="3" @click="disp(3,`{{ data.food_ex }}`)"
                                    class="command co3 ra3" />
                                <input type="button" value="+" @click="disp('+',`{{ data.food_ex }}`)"
                                    class="command is-ope ra3" />
                                <br />
                                <input type="button" value="0" @click="disp(0,`{{ data.food_ex }}`)"
                                    class="command co1 ra4" />
                                <input type="button" value="00" @click="disp0(00,`{{ data.food_ex }}`)"
                                    class="command co2 ra4" />
                                <input type="button" value="←" @click="del()" class="command co3 ra4" />
                                <input type="button" value="=" @click="enter()" data-toggle="collapse"
                                    href="#multiCollapseExample1" class="command is-ope ra4" />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>

    <modal v-if="showModal == '2'" @close="showModal = false" :key="2">
        <h4 slot="header">日用品</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('daily')" id="daily_e">
                <div class="form-group edit-form">
                    設定額：<input v-bind:value="st_val" type="text" required="required" name="daily_st_e" id="daily_st_e"
                        class="edit-input">
                </div>
                <div class="form-group edit-form form-inline used">
                    使用額：<input v-bind:value="`{{ data.daily_ex }}`" type="text" required="required" name="daily_ex_e"
                        id="daily_ex_e" class="edit-input">
                    <p>
                        <a class="btn btn-primary plus" data-toggle="collapse" href="#multiCollapseExample1"
                            role="button" aria-expanded="true" aria-controls="multiCollapseExample1"
                            @click="clear_d(`{{ data.daily_ex }}`)">+</a>
                    </p>
                </div>
                <!-- 電卓 -->
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="">
                                <input id="result" type="text" size="20" style="width:208px"
                                    v-bind:value='[[ calc_obj ]]' class="calc_disp" />
                                <br />
                                <input type="button" value="7" @click="disp(7,`{{ data.daily_ex }}`)"
                                    class="command co1 ra1" />
                                <input type="button" value="8" @click="disp(8,`{{ data.daily_ex }}`)"
                                    class="command co2 ra1" />
                                <input type="button" value="9" @click="disp(9,`{{ data.daily_ex }}`)"
                                    class="command co3 ra1" />
                                <input type="button" value="C" @click="clear(`{{ data.daily_ex }}`)"
                                    class="command is-ope ra1" />
                                <br />
                                <input type="button" value="4" @click="disp(4,`{{ data.daily_ex }}`)"
                                    class="command co1 ra2" />
                                <input type="button" value="5" @click="disp(5,`{{ data.daily_ex }}`)"
                                    class="command co2 ra2" />
                                <input type="button" value="6" @click="disp(6,`{{ data.daily_ex }}`)"
                                    class="command co3 ra2" />
                                <input type="button" value="-" @click="disp('-',`{{ data.daily_ex }}`)"
                                    class="command is-ope ra2" />
                                <br />
                                <input type="button" value="1" @click="disp(1,`{{ data.daily_ex }}`)"
                                    class="command co1 ra3" />
                                <input type="button" value="2" @click="disp(2,`{{ data.daily_ex }}`)"
                                    class="command co2 ra3" />
                                <input type="button" value="3" @click="disp(3,`{{ data.daily_ex }}`)"
                                    class="command co3 ra3" />
                                <input type="button" value="+" @click="disp('+',`{{ data.daily_ex }}`)"
                                    class="command is-ope ra3" />
                                <br />
                                <input type="button" value="0" @click="disp(0,`{{ data.daily_ex }}`)"
                                    class="command co1 ra4" />
                                <input type="button" value="00" @click="disp0(00,`{{ data.daily_ex }}`)"
                                    class="command co2 ra4" />
                                <input type="button" value="←" @click="del()" class="command co3 ra4" />
                                <input type="button" value="=" @click="enter_d()" data-toggle="collapse"
                                    href="#multiCollapseExample1" class="command is-ope ra4" />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>

    <modal v-if="showModal == '3'" @close="showModal = false" :key="3">
        <h4 slot="header">趣味</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('hobby')" id="hobby_e">
                <div class="form-group edit-form">
                    設定額：<input v-bind:value="st_val" type="text" required="required" name="hobby_st_e" id="hobby_st_e"
                        class="edit-input">
                </div>
                <div class="form-group edit-form form-inline used">
                    使用額：<input v-bind:value="`{{ data.hobby_ex }}`" type="text" required="required" name="hobby_ex_e"
                        id="hobby_ex_e" class="edit-input">
                    <p>
                        <a class="btn btn-primary plus" data-toggle="collapse" href="#multiCollapseExample1"
                            role="button" aria-expanded="true" aria-controls="multiCollapseExample1"
                            @click="clear_h(`{{ data.hobby_ex }}`)">+</a>
                    </p>
                </div>
                <!-- 電卓 -->
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="">
                                <input id="result" type="text" size="20" style="width:208px"
                                    v-bind:value='[[ calc_obj ]]' class="calc_disp" />
                                <br />
                                <input type="button" value="7" @click="disp(7,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra1" />
                                <input type="button" value="8" @click="disp(8,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra1" />
                                <input type="button" value="9" @click="disp(9,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra1" />
                                <input type="button" value="C" @click="clear(`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra1" />
                                <br />
                                <input type="button" value="4" @click="disp(4,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra2" />
                                <input type="button" value="5" @click="disp(5,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra2" />
                                <input type="button" value="6" @click="disp(6,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra2" />
                                <input type="button" value="-" @click="disp('-',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra2" />
                                <br />
                                <input type="button" value="1" @click="disp(1,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra3" />
                                <input type="button" value="2" @click="disp(2,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra3" />
                                <input type="button" value="3" @click="disp(3,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra3" />
                                <input type="button" value="+" @click="disp('+',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra3" />
                                <br />
                                <input type="button" value="0" @click="disp(0,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra4" />
                                <input type="button" value="00" @click="disp0(00,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra4" />
                                <input type="button" value="←" @click="del()" class="command co3 ra4" />
                                <input type="button" value="=" @click="enter_h()" data-toggle="collapse"
                                    href="#multiCollapseExample1" class="command is-ope ra4" />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>


    <modal v-if="showModal == '9'" @close="showModal = false" :key="9">
        <h4 slot="header">交通費</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('transport')" id="transport_e">
                <div class="form-group edit-form">
                    設定額：<input v-bind:value="st_val" type="text" required="required" name="transport_st_e" id="transport_st_e"
                        class="edit-input">
                </div>
                <div class="form-group edit-form form-inline used">
                    使用額：<input v-bind:value="`{{ data.transport_ex }}`" type="text" required="required" name="transport_ex_e"
                        id="transport_ex_e" class="edit-input">
                    <p>
                        <a class="btn btn-primary plus" data-toggle="collapse" href="#multiCollapseExample1"
                            role="button" aria-expanded="true" aria-controls="multiCollapseExample1"
                            @click="clear_t(`{{ data.transport_ex }}`)">+</a>
                    </p>
                </div>
                <!-- 電卓 -->
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="">
                                <input id="result" type="text" size="20" style="width:208px"
                                    v-bind:value='[[ calc_obj ]]' class="calc_disp" />
                                <br />
                                <input type="button" value="7" @click="disp(7,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra1" />
                                <input type="button" value="8" @click="disp(8,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra1" />
                                <input type="button" value="9" @click="disp(9,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra1" />
                                <input type="button" value="C" @click="clear(`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra1" />
                                <br />
                                <input type="button" value="4" @click="disp(4,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra2" />
                                <input type="button" value="5" @click="disp(5,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra2" />
                                <input type="button" value="6" @click="disp(6,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra2" />
                                <input type="button" value="-" @click="disp('-',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra2" />
                                <br />
                                <input type="button" value="1" @click="disp(1,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra3" />
                                <input type="button" value="2" @click="disp(2,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra3" />
                                <input type="button" value="3" @click="disp(3,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra3" />
                                <input type="button" value="+" @click="disp('+',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra3" />
                                <br />
                                <input type="button" value="0" @click="disp(0,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra4" />
                                <input type="button" value="00" @click="disp0(00,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra4" />
                                <input type="button" value="←" @click="del()" class="command co3 ra4" />
                                <input type="button" value="=" @click="enter_t()" data-toggle="collapse"
                                    href="#multiCollapseExample1" class="command is-ope ra4" />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>

    <modal v-if="showModal == '10'" @close="showModal = false" :key="10">
        <h4 slot="header">その他</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('other')" id="other_e">
                <div class="form-group edit-form">
                    設定額：<input v-bind:value="st_val" type="text" required="required" name="other_st_e" id="other_st_e"
                        class="edit-input">
                </div>
                <div class="form-group edit-form form-inline used">
                    使用額：<input v-bind:value="`{{ data.other_ex }}`" type="text" required="required" name="other_ex_e"
                        id="other_ex_e" class="edit-input">
                    <p>
                        <a class="btn btn-primary plus" data-toggle="collapse" href="#multiCollapseExample1"
                            role="button" aria-expanded="true" aria-controls="multiCollapseExample1"
                            @click="clear_o(`{{ data.other_ex }}`)">+</a>
                    </p>
                </div>
                <!-- 電卓 -->
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="">
                                <input id="result" type="text" size="20" style="width:208px"
                                    v-bind:value='[[ calc_obj ]]' class="calc_disp" />
                                <br />
                                <input type="button" value="7" @click="disp(7,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra1" />
                                <input type="button" value="8" @click="disp(8,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra1" />
                                <input type="button" value="9" @click="disp(9,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra1" />
                                <input type="button" value="C" @click="clear(`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra1" />
                                <br />
                                <input type="button" value="4" @click="disp(4,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra2" />
                                <input type="button" value="5" @click="disp(5,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra2" />
                                <input type="button" value="6" @click="disp(6,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra2" />
                                <input type="button" value="-" @click="disp('-',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra2" />
                                <br />
                                <input type="button" value="1" @click="disp(1,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra3" />
                                <input type="button" value="2" @click="disp(2,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra3" />
                                <input type="button" value="3" @click="disp(3,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra3" />
                                <input type="button" value="+" @click="disp('+',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra3" />
                                <br />
                                <input type="button" value="0" @click="disp(0,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra4" />
                                <input type="button" value="00" @click="disp0(00,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra4" />
                                <input type="button" value="←" @click="del()" class="command co3 ra4" />
                                <input type="button" value="=" @click="enter_o()" data-toggle="collapse"
                                    href="#multiCollapseExample1" class="command is-ope ra4" />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>


    <modal v-if="showModal == '4'" @close="showModal = false" :key="4">
        <h4 slot="header">家賃</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('rent')" id="rent_f_e">
                <div class="form-group edit-form">
                    金額：<input v-bind:value="st_val" type="text" required="required" name="rent_e" id="rent_e"
                        class="edit-input">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>

    <modal v-if="showModal == '5'" @close="showModal = false" :key="5">
        <h4 slot="header">奨学金</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('scholar')" id="scholar_f_e">
                <div class="form-group edit-form">
                    金額：<input v-bind:value="st_val" type="text" required="required" name="scholar_e" id="scholar_e"
                        class="edit-input">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>

    <modal v-if="showModal == '6'" @close="showModal = false" :key="6">
        <h4 slot="header">光熱費</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('util')" id="util_f_e">
                <div class="form-group edit-form form-inline used">
                    金額：<input v-bind:value="st_val" type="text" required="required" name="util_e" id="util_e"
                        class="edit-input">
                    <p>
                        <a class="btn btn-primary plus" data-toggle="collapse" href="#multiCollapseExample1"
                            role="button" aria-expanded="true" aria-controls="multiCollapseExample1"
                            @click="clear_u(`{{ data.utility_cost_d }}`)">+</a>
                    </p>
                </div>
                <!-- 電卓 -->
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="">
                                <input id="result" type="text" size="20" style="width:208px"
                                    v-bind:value='[[ calc_obj ]]' class="calc_disp" />
                                <br />
                                <input type="button" value="7" @click="disp(7,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra1" />
                                <input type="button" value="8" @click="disp(8,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra1" />
                                <input type="button" value="9" @click="disp(9,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra1" />
                                <input type="button" value="C" @click="clear(`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra1" />
                                <br />
                                <input type="button" value="4" @click="disp(4,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra2" />
                                <input type="button" value="5" @click="disp(5,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra2" />
                                <input type="button" value="6" @click="disp(6,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra2" />
                                <input type="button" value="-" @click="disp('-',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra2" />
                                <br />
                                <input type="button" value="1" @click="disp(1,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra3" />
                                <input type="button" value="2" @click="disp(2,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra3" />
                                <input type="button" value="3" @click="disp(3,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra3" />
                                <input type="button" value="+" @click="disp('+',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra3" />
                                <br />
                                <input type="button" value="0" @click="disp(0,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra4" />
                                <input type="button" value="00" @click="disp0(00,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra4" />
                                <input type="button" value="←" @click="del()" class="command co3 ra4" />
                                <input type="button" value="=" @click="enter_u()" data-toggle="collapse"
                                    href="#multiCollapseExample1" class="command is-ope ra4" />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>

    <modal v-if="showModal == '7'" @close="showModal = false" :key="7">
        <h4 slot="header">通信費</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('commu')" id="commu_f_e">
                <div class="form-group edit-form form-inline used">
                    金額：<input v-bind:value="st_val" type="text" required="required" name="commu_e" id="commu_e"
                        class="edit-input">

                    <p>
                        <a class="btn btn-primary plus" data-toggle="collapse" href="#multiCollapseExample1"
                            role="button" aria-expanded="true" aria-controls="multiCollapseExample1"
                            @click="clear_c(`{{ data.commu_d }}`)">+</a>
                    </p>
                </div>
                <!-- 電卓 -->
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="">
                                <input id="result" type="text" size="20" style="width:208px"
                                    v-bind:value='[[ calc_obj ]]' class="calc_disp" />
                                <br />
                                <input type="button" value="7" @click="disp(7,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra1" />
                                <input type="button" value="8" @click="disp(8,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra1" />
                                <input type="button" value="9" @click="disp(9,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra1" />
                                <input type="button" value="C" @click="clear(`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra1" />
                                <br />
                                <input type="button" value="4" @click="disp(4,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra2" />
                                <input type="button" value="5" @click="disp(5,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra2" />
                                <input type="button" value="6" @click="disp(6,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra2" />
                                <input type="button" value="-" @click="disp('-',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra2" />
                                <br />
                                <input type="button" value="1" @click="disp(1,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra3" />
                                <input type="button" value="2" @click="disp(2,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra3" />
                                <input type="button" value="3" @click="disp(3,`{{ data.hobby_ex }}`)"
                                    class="command co3 ra3" />
                                <input type="button" value="+" @click="disp('+',`{{ data.hobby_ex }}`)"
                                    class="command is-ope ra3" />
                                <br />
                                <input type="button" value="0" @click="disp(0,`{{ data.hobby_ex }}`)"
                                    class="command co1 ra4" />
                                <input type="button" value="00" @click="disp0(00,`{{ data.hobby_ex }}`)"
                                    class="command co2 ra4" />
                                <input type="button" value="←" @click="del()" class="command co3 ra4" />
                                <input type="button" value="=" @click="enter_c()" data-toggle="collapse"
                                    href="#multiCollapseExample1" class="command is-ope ra4" />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>

    <modal v-if="showModal == '8'" @close="showModal = false" :key="8">
        <h4 slot="header">収入</h4>
        <div slot="body">
            <form v-on:submit.prevent="submit('income')" id="income_f_e">
                <div class="form-group edit-form">
                    金額：<input v-bind:value="st_val" type="text" required="required" name="income_e" id="income_e"
                        class="edit-input">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary edit-btn">完了</button>
                </div>
            </form>
        </div>
    </modal>

</div>

<!--モーダルの中身のテンプレート-->
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper" @click.self="$emit('close')">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header"></slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

{% endblock %}